/* foreground */
body {
    overflow: hidden;
    margin: 0;
    font-family: 'Yanone Kaffeesatz';
    background-color: #EECEB3;
}

.site-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

/* background */
.background-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/* desktop view */
.content-mobile {
    display: none;
}

.content-desktop {
    display: block;
}

.body-wrapper {
    z-index: 99;
    height: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 30vw 35vw; 
    grid-template-rows: 6vw 4vw 7vw 4vw 6vw;
}

.profile {
    position: static;
    height: auto;
    width: 25vw;
    border-radius: 100%;
    border: 0.5vh solid white;
    margin: 1vw 2.5vw;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.header {
    position: static;
    margin-left: 2.5vw;
    font-size: calc(100vw / 30);
    font-weight: bold;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;
    justify-self: start;
}

.text {
    position: static;
    margin-left: 2.5vw;
    font-size: calc(100vw / 70);
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
    justify-self: start;
}

.social-wrapper {
    height: auto;
    max-width: 35vw;
    grid-column-start: 2;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 6.5vw repeat(5, 5vw);
    grid-template-rows: 4vw;
}

.social_links {
    justify-self: end;
}

.github {
    position: static;
    width: 3.7vw;
    height: auto;
    grid-column-start: 1;
}

.resume {
    position: static;
    width: 4vw;
    height: auto;
    grid-column-start: 2;
}

.album {
    position: static;
    width: 4vw;
    height: auto;
    grid-column-start: 3;
}

/* clouds */
#clouds_desktop {
    position: absolute;
    height: auto;
    left: 100vw;
}

.clouds_1 {
    z-index: 1;
    width: 11vw;
    top: 0vh;
    animation: move_cloud 27s linear infinite;
    animation-delay: 2s;
}
.clouds_2 {
    z-index: 2;
    width: 13vw;
    top: 3vh;
    animation: move_cloud 30s linear infinite;
    animation-delay: 6s;
}
.clouds_3 {
    z-index: 3;
    width: 20vw;
    top: 5vh;
    animation: move_cloud 25s linear infinite;
    animation-delay: 0s;
}
.clouds_4 {
    z-index: 4;
    width: 17vw;
    top: 3vh;
    animation: move_cloud 26s linear infinite;
    animation-delay: 4s;
}
.clouds_5 {
    z-index: 3;
    width: 18vw;
    top: 4vh;
    animation: move_cloud 34s linear infinite;
    animation-delay: 9s;
}
.clouds_6 {
    z-index: 5;
    width: 15vw;
    top: 4vh;
    animation: move_cloud 27s linear infinite;
    animation-delay: 12s;
}
.clouds_7 {
    z-index: 3;
    width: 17vw;
    top: 0vh;
    animation: move_cloud 26s linear infinite;
    animation-delay: 15s;
}
.clouds_8 {
    z-index: 1;
    width: 19vw;
    top: 3vh;
    animation: move_cloud 31s linear infinite;
    animation-delay: 19s;
}

/* flowers */
#flowers_desktop {
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 85vh;
}

.flowers_1 { left: 5vw; }
.flowers_2 { left: 10vw; }
.flowers_3 { left: 15vw; }
.flowers_4 { left: 20vw; }
.flowers_5 { left: 25vw; }
.flowers_6 { left: 30vw; }
.flowers_7 { left: 35vw; }
.flowers_8 { left: 40vw; }
.flowers_9 { left: 45vw; }
.flowers_10 { left: 50vw; }
.flowers_11 { left: 55vw; }
.flowers_12 { left: 60vw; }
.flowers_13 { left: 65vw; }
.flowers_14 { left: 70vw; }
.flowers_15 { left: 75vw; }
.flowers_16 { left: 80vw; }
.flowers_17 { left: 85vw; }
.flowers_18 { left: 90vw; }

/* mobile  view */
@media only screen and (max-width: 600px) {

    .content-mobile {
        display: block;
    }
    
    .content-desktop {
        display: none;
    }

    .body-wrapper {
        z-index: 99;
        height: auto;
        width: 70vw;
        display: grid;
        place-items: center;
        text-align: center;
        grid-template-columns: 70vw; 
        grid-template-rows: 70vw 5vh 8vh 10vw;
    }
    
    .profile {
        position: static;
        height: auto;
        width: 63vw;
        margin: 2.5vw;
        border-radius: 100%;
        border: 0.5vh solid white;
        grid-column-start: 1;
        grid-row-start: 1;
        align-self: start;
    }
    
    .header {
        position: static;
        margin-top: 1vh;
        font-size: calc(100vw / 10);
        font-weight: bold;
        grid-column-start: 1;
        grid-row-start: 2;
        justify-self: center;
    }
    
    .text {
        position: static;
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: calc(100vw / 27);
        grid-column-start: 1;
        grid-row-start: 3;
        justify-self: center;
    }
    
    .social-wrapper {
        display: grid;
        grid-column-start: 1;
        grid-row-start: 4;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10vw;
    }
    
    .social_links {
        justify-self: center;
    }
    
    .github {
        position: static;
        width: 9vw;
        height: auto;
    }
    
    .resume {
        position: static;
        width: 10vw;
        height: auto;
    }
    .album {
        position: static;
        width: 10vw;
        height: auto;
    }    

    /* clouds */
    #clouds_mobile {
        position: absolute;
        width: auto;
        left: 100vw;
    }

    .clouds_1 {
        z-index: 3;
        height: 29vh;
        top: 5vh;
        animation: move_cloud 25s linear infinite;
        animation-delay: 0s;
    }
    .clouds_2 {
        z-index: 1;
        height: 20vh;
        top: 0vh;
        animation: move_cloud 27s linear infinite;
        animation-delay: 5s;
    }
    .clouds_3 {
        z-index: 4;
        height: 26vh;
        top: 3vh;
        animation: move_cloud 26s linear infinite;
        animation-delay: 7s;
    }
    .clouds_4 {
        z-index: 3;
        height: 27vh;
        top: 0vh;
        animation: move_cloud 30s linear infinite;
        animation-delay: 12s;
    }

    /* flowers */
    #flowers_mobile {
        position: absolute;
        width: 10vw;
        height: 10vw;
        top: 90vh;
    }

    .flowers_1 { left: 5vw; }
    .flowers_2 { left: 15vw; }
    .flowers_3 { left: 25vw; }
    .flowers_4 { left: 35vw; }
    .flowers_5 { left: 45vw; }
    .flowers_6 { left: 55vw; }
    .flowers_7 { left: 65vw; }
    .flowers_8 { left: 75vw; }
    .flowers_9 { left: 85vw; }
}


@keyframes move_cloud {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150vw);
    }
}
