/* foreground */
body {
    overflow: hidden;
    margin: 0;
    font-family: 'Yanone Kaffeesatz';
    background-color: #EECEB3;
}

.site-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.body-wrapper {
    z-index: 99;
    height: auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 30vw 35vw; 
    grid-template-rows: 6vw 4vw 7vw 4vw 6vw;
}

.profile {
    position: static;
    height: auto;
    width: 25vw;
    border-radius: 100%;
    border: 0.5vh solid white;
    margin: 1vw 2.5vw;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.header {
    position: static;
    margin-left: 2.5vw;
    font-size: calc(100vw / 30);
    font-weight: bold;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: end;
    justify-self: start;
}

.text {
    position: static;
    margin-left: 2.5vw;
    font-size: calc(100vw / 70);
    grid-column-start: 2;
    grid-row-start: 3;
    align-self: center;
    justify-self: start;
}

.social-wrapper {
    height: auto;
    max-width: 35vw;
    grid-column-start: 2;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 6.5vw repeat(5, 5vw);
    grid-template-rows: 4vw;
}

.social_links {
    justify-self: end;
}

.github {
    position: static;
    width: 3.7vw;
    height: auto;
    grid-column-start: 1;
}

.resume {
    position: static;
    width: 4vw;
    height: auto;
    grid-column-start: 2;
}


/* background */
.background {
    position: absolute;
    left: 0;
    top: 0;
}

 /* clouds */
.clouds_1 {
    z-index: 1;
    position: absolute;
    width: 11vw;
    height: auto;
    left: 100vw;
    top: 0vh;
    animation: move_cloud 27s linear infinite;
    animation-delay: 2s;
}

.clouds_2 {
    z-index: 2;
    position: absolute;
    width: 13vw;
    height: auto;
    left: 100vw;
    top: 3vh;
    animation: move_cloud 30s linear infinite;
    animation-delay: 6s;
}

.clouds_3 {
    z-index: 3;
    position: absolute;
    width: 20vw;
    height: auto;
    left: 100vw;
    top: 5vh;
    animation: move_cloud 25s linear infinite;
    animation-delay: 0s;
}

.clouds_4 {
    z-index: 4;
    position: absolute;
    width: 17vw;
    height: auto;
    left: 100vw;
    top: 3vh;
    animation: move_cloud 26s linear infinite;
    animation-delay: 4s;
}

.clouds_5 {
    z-index: 3;
    position: absolute;
    width: 18vw;
    height: auto;
    left: 100vw;
    top: 4vh;
    animation: move_cloud 34s linear infinite;
    animation-delay: 9s;
}

.clouds_6 {
    z-index: 5;
    position: absolute;
    width: 15vw;
    height: auto;
    left: 100vw;
    top: 4vh;
    animation: move_cloud 27s linear infinite;
    animation-delay: 12s;
}

.clouds_7 {
    z-index: 3;
    position: absolute;
    width: 17vw;
    height: auto;
    left: 100vw;
    top: 0vh;
    animation: move_cloud 26s linear infinite;
    animation-delay: 15s;
}

.clouds_8 {
    z-index: 1;
    position: absolute;
    width: 19vw;
    height: auto;
    left: 100vw;
    top: 3vh;
    animation: move_cloud 31s linear infinite;
    animation-delay: 19s;
}

 /* flowers */
.flowers_1 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 5vw;
    top: 85vh;
}

.flowers_2 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 10vw;
    top: 85vh;
}

.flowers_3 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 15vw;
    top: 85vh;
}

.flowers_4 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 20vw;
    top: 85vh;
}

.flowers_5 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 25vw;
    top: 85vh;
}

.flowers_6 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 30vw;
    top: 85vh;
}

.flowers_7 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 35vw;
    top: 85vh;
}

.flowers_8 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 40vw;
    top: 85vh;
}

.flowers_9 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 45vw;
    top: 85vh;
}

.flowers_10 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 50vw;
    top: 85vh;
}

.flowers_11 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 55vw;
    top: 85vh;
}

.flowers_12 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 60vw;
    top: 85vh;
}

.flowers_13 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 65vw;
    top: 85vh;
}

.flowers_14 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 70vw;
    top: 85vh;
}

.flowers_15 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 75vw;
    top: 85vh;
}

.flowers_16 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 80vw;
    top: 85vh;
}

.flowers_17 {
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 85vw;
    top: 85vh;
}

.flowers_18{
    z-index: 1;
    position: absolute;
    width: 5vw;
    height: auto;
    left: 90vw;
    top: 85vh;
}


@keyframes move_cloud {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-120vw);
    }
}
