html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: red; */
    width: 100vw
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    /* overscroll-behavior: none; */
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    /* background-color: blue; */
    width: 100vw;
    display: block;
}

#content-mobile {
    display: none;
}

#content-desktop {
    position: static;
    display: grid;
    justify-content: center;
    margin: 0;
    height: calc(100% - 180px);
    width: 100vw;
}

/* top part */
#top {
    position: static;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: calc(100vw - 80px) 80px;
    grid-template-rows: 100px;
}

h1 {
    margin-left: 25px; 
    font-size: 45px;
    grid-column-start: 1;
    align-self: center;
    justify-self: start;
    font-family: 'Arya';
}

#hamburger-icon {
    margin-right: 36px;
    font-size: 35px;
    cursor: pointer;
    grid-column-start: 2;
    align-self: center;
    justify-self: end;
}   

#hamburger-icon:hover {
    background-color: rgba(211,211,211,0.7);
}

/* sidebar */
.sidebar-window {
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
}

.sidebar-open-space {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    animation:  fade_in 1s;
}

.sidebar-d {
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    display: grid;
    text-align: center;
    animation: sidebar_slide 0.4s;
    grid-template-rows: 10px repeat(4, 60px);
}

.close-tag {
    grid-row-start: 2;
}

.portrait-tag {
    grid-row-start: 3;
}

.landscape-tag {
    grid-row-start: 4;
}

.about-me-tag {
    grid-row-start: 5;
}

h3 {
    position: static;
    height: 100%;
    width: 100%;
    color: #a9a9a9;
    font-size: 25px;
    margin: 0;
    font-family: 'Oswald';
}

h3:hover {
    background-color: rgba(255,255,255,0.7);
    color: black;
    cursor: pointer;
}

/* images */
.portraits {
    position: static;
    height: 100%;
    max-width: 1500px; 
    display: block;
    animation: fade_in 2s;
}

.landscapes {
    position: static;
    height: 100%;
    max-width: 1500px;
    display: none; 
    animation: fade_in 2s;
}

.about-me {
    position: static;
    height: 100%;
    max-width: 1500px;
    margin-left: 10px;
    margin-right: 16px;
    display: none; 
    animation: fade_in 2s;
}

.about-me-image {
    height: auto;
    width: 55vw;
    align-self: center;
}

p {
    position: static; 
    width: 55vw;
    font-size: 20px;
    font-family: 'Times New Roman';
}

.image-wrapper {
    height: 100%;
    width: calc(100% - 36px);
    display: grid;
    margin-left: 10px;
    margin-right: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.column_1 {
    grid-column-start: 1;
    width: 100%;
}

.column_2 {
    grid-column-start: 2;
    width: 100%;
}

.column_3 {
    grid-column-start: 3;
    width: 100%;
}

.column_4 {
    grid-column-start: 4;
    width: 100%;
}

img {
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 10px;
}

.image-wrapper img:hover{
    opacity: 70%;
    cursor: pointer;
}

/* image preview */
#preview-window-d {
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: default;
}

.preview-image {
    z-index: 2;
    display: block;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: auto;
    width: 55%; 
    animation: zoom 0.5s;
    cursor: default;
}

#preview-window-d img:hover {
    opacity: 100%;
}

#bottom {
    position: static;
    display: grid;
    margin: 0;
    height: 150px;
    width: 100vw;
    background-color: grey;
}

.bottom-content {
    height: 130px;
    width: calc(100vw - 36px);
    margin: 10px 26px 0 10px;
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 18px));
    grid-template-rows: repeat(5, 1fr);
}

.bottom-title {
    position: static; 
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: 'Oswald';
    margin: 0;
    grid-row-start: 1;
    cursor: default;
}

.get-in-touch {
    grid-column-start: 1;
}

.navigation {
    grid-column-start: 2;
    text-align: right;
}

.bottom-others {
    position: static; 
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: 'Oswald';
    margin: 0;
    cursor: default;
}

.name {
    grid-row-start: 2;
    grid-column-start: 1;
}

.email {
    grid-row-start: 3;
    grid-column-start: 1;
}

.logos {
    grid-row-start: 4;
    grid-column-start: 1;
    cursor: pointer;
}


.back-to-top {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: right;
    cursor: pointer;
}

.portrait-bottom-access {
    grid-row-start: 3;
    grid-column-start: 2;
    text-align: right;
    cursor: pointer;
}

.landscape-bottom-access {
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: right;
    cursor: pointer;
}

.about-me-bottom-access {
    grid-row-start: 5;
    grid-column-start: 2;
    text-align: right;
    cursor: pointer;
}



/* mobile */
@media only screen and (max-width: 600px){

    #content-mobile {
        display: grid;
        place-content: center;
        margin: 0;
        min-height: 100vh;
        width: 100vw;
        margin-bottom: 100px;
    }
    
    #content-desktop {
        display: none;
    }

    .sidebar-m {
        background-color: rgba(0,0,0,0.85);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        display: grid;
        text-align: center;
        animation: sidebar_slide 0.4s;
        grid-template-rows: 20px repeat(4, 60px);
    }
    
    /* images */
    .image-wrapper {
        height: 100vh;
        width: calc(100vw - 20px); 
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    img {
        height: auto;
        width: 100%;
        display: block;
        object-fit: cover;
        margin-bottom: 10px;
    }

    img:hover{
        opacity: 100%;
    }

    .about-me {
        position: static;
        height: 100vh;
        max-width: calc(100vw - 20px);
        margin-left: 10px;
        margin-right: 10px;
        display: none; 
        animation: fade_in 2s;
    }

    .about-me-image {
        height: auto;
        width: calc(100vw - 20px);
        align-self: center;
    }

    p {
        position: static; 
        width: calc(100vw - 20px);
        font-size: xx-small;
        font-family: 'Times New Roman';
    }

    #preview-window-m {
        overflow-y: auto;
        overflow-x: hidden;
        display: none;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        margin-top: 0;
        background-color: rgba(0,0,0,0.8);
    }
    
    .preview-image {
        z-index: 2;
        display: block;
        padding-top: 2vh;
        padding-bottom: 2vh;    
        height: auto;
        width: calc(100vw - 20px);
        animation: zoom 0.5s;
    }
    
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes sidebar_slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }

}