/* || CSS code for website*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: block;
}

#content-mobile {
    display: none;
}

#content-desktop {
    height: calc(100% - 180px);
    width: 100vw;
    display: grid;
    justify-content: center;
}

/* || Header */
#header {
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: calc(100vw - 80px) 80px;
    grid-template-rows: 100px;
}

h1 {
    font-family: 'Arya';
    margin-left: 25px; 
    font-size: 45px;
    justify-self: start;
    align-self: center;
    grid-column-start: 1;
}

#hamburger-icon {
    margin-right: 36px;
    font-size: 35px;
    justify-self: end;
    align-self: center;
    grid-column-start: 2;
    cursor: pointer;
}   

#hamburger-icon:hover {
    background-color: rgba(211,211,211,0.7);
}

/* || Sidebar */
.sidebar-window {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.sidebar-open-space {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    animation:  fade_in 1s;
}

.sidebar-d {
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    display: grid;
    text-align: center;
    grid-template-rows: 10px repeat(4, 60px);
    animation: sidebar_slide 0.4s;
}

.close-tag {
    grid-row-start: 2;
}

.portrait-tag {
    grid-row-start: 3;
}

.landscape-tag {
    grid-row-start: 4;
}

.about-me-tag {
    grid-row-start: 5;
}

h3 {
    color: #a9a9a9;
    font-family: 'Oswald';
    margin: 0;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

h3:hover {
    background-color: rgba(255,255,255,0.7);
    color: black;
    cursor: pointer;
}

/* || Image Options */
.portraits {
    height: 100%;
    max-width: 1500px; 
    display: block;
    animation: fade_in 2s;
}

.landscapes {
    height: 100%;
    max-width: 1500px;
    display: none; 
    animation: fade_in 2s;
}

.about-me {
    margin-left: 10px;
    margin-right: 16px;
    height: 100%;
    max-width: 1500px;
    display: none; 
    animation: fade_in 2s;
}

/* || Content for Image Options */
.image-wrapper {
    margin-left: 10px;
    margin-right: 16px;
    height: 100%;
    width: calc(100% - 36px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.column_1 {
    width: 100%;
    grid-column-start: 1;
}

.column_2 {
    width: 100%;
    grid-column-start: 2;
}

.column_3 {
    width: 100%;
    grid-column-start: 3;
}

.column_4 {
    width: 100%;
    grid-column-start: 4;
}

img {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
}

.image-wrapper img:hover{
    opacity: 70%;
    cursor: pointer;
}

.about-me-image {
    height: auto;
    width: 55vw;
    align-self: center;
}

p {
    font-family: 'Times New Roman';
    font-size: 20px;
    height: auto;
    width: 55vw;
}

/* || Images Preview */
#preview-window-d {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    place-items: center;
    cursor: default;
}

.preview-image {
    z-index: 2;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: auto;
    width: 55%; 
    display: block;
    animation: zoom 0.5s;
    cursor: default;
}

#preview-window-d img:hover {
    opacity: 100%;
}

/* || Footer */
#footer {
    background-color: black;
    margin: 0;
    height: 180px;
    width: 100vw;
    display: grid;
}

.footer-content {
    margin: 20px 26px 0 30px;
    height: 130px;
    width: calc(100vw - 76px);
    display: grid;
    grid-template-columns: repeat(2, calc(50vw - 38px));
    grid-template-rows: repeat(5, 1fr);
}

.footer-title {
    color: #f8f8ff;
    font-family: 'Oswald';
    font-size: 25px;
    margin: 0;
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    cursor: default;
}

.get-in-touch {
    grid-column-start: 1;
}

.navigation {
    text-align: right;
    grid-column-start: 2;
}

.footer-get-in-touch-content {
    color: #a9a9a9;
    font-family: 'Oswald';
    font-size: 15px;
    margin: 0;
    height: 100%;
    width: auto;
    justify-self: left;
    text-align: left;
    cursor: default;
}

.name {
    grid-row-start: 2;
    grid-column-start: 1;
}

.email {
    grid-row-start: 3;
    grid-column-start: 1;
}

.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 4 / span 2;
    grid-column-start: 1;
}

.individual_logo {
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    width: auto;
}

.footer-navigation-content{
    color: #a9a9a9;
    font-family: 'Oswald';
    font-size: 15px;
    margin: 0;
    height: 100%;
    width: auto;
    justify-self: right;
    text-align: right;
    cursor: pointer;
}

.back-to-top {
    grid-row-start: 2;
    grid-column-start: 2;
}

.portrait-footer-access {
    grid-row-start: 3;
    grid-column-start: 2;
}

.landscape-footer-access {
    grid-row-start: 4;
    grid-column-start: 2;
}

.about-me-footer-access {
    grid-row-start: 5;
    grid-column-start: 2;
}


/* || Mobile */
@media only screen and (max-width: 600px){

    #content-mobile {
        height: calc(100% - 80px);
        width: 100vw;
        display: grid;
        justify-content: center;
    }
    
    #content-desktop {
        display: none;
    }

    /* || Sidebar */
    .sidebar-m {
        background-color: rgba(0,0,0,0.85);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        display: grid;
        text-align: center;
        grid-template-rows: 20px repeat(4, 60px);
        animation: sidebar_slide 0.4s;
    }
    
    /* || Content for Image Options */
    .image-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        height: 100vh;
        width: calc(100vw - 20px); 
        display: grid;
        grid-template-columns: 1fr;
    }

    img {
        margin-bottom: 10px;
        height: auto;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    img:hover{
        opacity: 100%;
    }

    .about-me-image {
        height: auto;
        width: calc(100vw - 20px);
        align-self: center;
    }

    p {
        font-family: 'Times New Roman';
        font-size: 20px;
        height: auto;
        width: calc(100vw - 20px);
    }

    /* || Image Options */
    .about-me {
        margin-left: 10px;
        margin-right: 10px;
        position: static;
        height: 100vh;
        max-width: calc(100vw - 20px);
        display: none; 
        animation: fade_in 2s;
    }

    /* || Images Preview */
    #preview-window-m {
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1;
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        place-items: center;
    }
    
    .preview-image {
        z-index: 2;
        padding-top: 2vh;
        padding-bottom: 2vh;    
        height: auto;
        width: calc(100vw - 20px);
        display: block;
        animation: zoom 0.5s;
    }
}


/* || Animations */
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}

@keyframes sidebar_slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }

}